body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #ffbe76
  );
}

.Contact {
  position: relative;
  text-align: center;
  width: 20%;
  background-color: #003f9d86;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .Contact {
    margin-top: 25%;
    text-size-adjust: 300%;
  }
}
img:hover {
  animation: s 10000s;
  width: 50%;
  height: 50%;
}

@keyframes s {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(-30px);
  }
}
